.container-fluid{
    display: flex;
}
.icon a:hover ,.icon a:active{
    color: brown;
}
 a.nav-link:hover,a.nav-link:focus,a.nav-link:active{
    color:brown;
}
.carousel-item active{
    display:flex;
}
.carousel-item{
    display: flex;
}
.owl-prev, .owl-next{
    cursor: pointer;
    opacity: 1!important ;
    position: absolute;;
}
body{
    position: relative;
}
nav{
    position: fixed;
}
.row.one{
    display:flex;
}
.penci-more-link a.more-link {
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1px;
    color: #6eb48c;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
.entry-date-published{
    border-right:1px solid gray;
}
.card-0{
    display: flex;
    
}
.card-2{
    margin-left: 50px;
}
.photo img{
    border: 1px solid;
    border-radius: 50%;
}
button{
    border: 1px solid gray;
}
button:hover{
     color: white;
     background-color: red;
     
}
.circle{
    border: 1px solid gray;
    border-radius: 50%;
    
}
